@import 'breakpoints';

.showing-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

mat-card {
  background-color: var(--surface);
  padding: 18px;
  width: 90vw;
}

mat-card-content {
  display: flex;
}

.img-container {
  display: flex;
  align-items: center;
}

.img-wrapper {
  height: 200px;
  width: 150px;
  box-shadow: 0 0 10px 0 rgba(255, 143, 198, 0.3);
  position: relative;
}

.premiere {
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
  width: 100px;
  height: 25px;
  background-color: var(--secondaryDark);
  justify-content: center;
  align-items: center;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 100px;
  width: 600px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 600px;
}

.hours-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 4px;
}

.hours {
  width: 80px;
  height: 40px;
}

.hour-button {
  display: flex;
  flex-direction: column;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 8px;
  width: 100%;
}

.rating-wrapper {
  display: flex;
  justify-content: center;
  width: 130px;
}

.rating {
  font-size: 24px;
}

button {
  width: 130px;
  padding: 0;
}

.mat-mdc-outlined-button:not(:disabled) {
  border-color: var(--secondaryDark);
}

.show-more {
  text-align: end;
  color: var(--secondary);

  & p {
    cursor: pointer;
  }
}

.star-rating .filled {
  color: #ffc107;
  cursor: pointer;
}

.star-rating {
  padding: 12px;
}

@include breakpoint('mobile') {
  mat-card-content {
    flex-direction: column;
    padding: 0;
    align-items: center;
    gap: 16px;
  }

  .info-wrapper {
    padding: 0;
    max-width: 80vw;
  }

  .info {
    width: 80vw;
  }

  .button-wrapper {
    align-items: center;
  }
}