main {
  min-height: calc(100vh - var(--headerAndFooter-height));
  margin-top: var(--header-height);
  display: flex;
}

main > app-admin-date-picker {
  flex-basis: 12%;
}

main > app-repertoire {
  flex-basis: 88%;
}