main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
}

h2 {
  margin-bottom: 16px;
}

h2, .link-wrapper {
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

.register-wrapper {
  width: 350px;
  min-height: 450px;
  max-height: 550px;
  padding: 32px;
  background-color: var(--surface);
  box-shadow: 0 0 6px 0 rgb(255, 143, 198);
  border-radius: 8px;
  overflow: auto;
}

mat-error {
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 6px;
}

.email-container,
.password-container,
.firstName-container,
.lastName-container,
.phone-container,
mat-form-field {
  width: 100%;
}

.password-container {
  display: flex;
}

mat-label {
  color: var(--text-primary);
}

input {
  color: var(--text-primary)!important;
  border: red;
}

::ng-deep .mat-form-field-outline {
  border-color: var(--text-primary);
}

.icon-wrapper {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.submit {
  background-color: var(--primaryLight) !important;
  color: var(--text-primary) !important;
}