@import 'breakpoints';

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
}

.spacer {
  flex: 1 1 auto;
}

.initials {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

span {
  font-size: 22px;
  cursor: pointer;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.icons-wrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

select {
  background: transparent;
  border: 0;
  color: #fff;
  outline: none;
  cursor: pointer;
}

mat-select {
  width: 100px;
  text-align: center;
}

::ng-deep .mdc-list-item--selected {
  .mdc-list-item__primary-text {
    color: var(--secondary);
  }
}

@include breakpoint('mobile') {
  .icons-wrapper, .avatar {
    display: none;
  }
}
