<div class="settings-wrapper">
  <div class="settings-menu">
    <app-settings-menu (navigation)="nagivationHandler($event)"></app-settings-menu>
  </div>
  <div [ngSwitch]="page$ | async" class="settings-forms">
    <app-settings-general (formData)="formDataHandler($event)" [user$]="user$" *ngSwitchCase="0"></app-settings-general>
    <app-settings-password (formData)="formDataHandler($event)" *ngSwitchCase="1"></app-settings-password>
    <app-settings-email (formData)="formDataHandler($event)" *ngSwitchCase="2"></app-settings-email>
    <app-settings-phone (formData)="formDataHandler($event)" *ngSwitchCase="3"></app-settings-phone>
    <app-settings-newsletter
      (formData)="newsletterHandler($event)"
      [newsletter$]="newsletter$"
      *ngSwitchCase="4"></app-settings-newsletter>
  </div>
</div>
