mat-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 0;
}

mat-list-item:hover {
  background-color: #FF8FC633;
  transition: all 0.2s ease-in-out;
}

::ng-deep .mat-mdc-list-item-unscoped-content {
  display: flex;
  gap: 10px;
  align-items: center;
}