.table-container {
  width: 100%;
  max-height: calc(100vh - var(--header-height) - 112px);
  min-height: calc(100vh - var(--header-height) - 112px);
  overflow: overlay;
}

table {
  max-height: calc(100vh - var(--header-height) - 112px);
  min-height: calc(100vh - var(--header-height) - 112px);
}

tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  height: 48px;
  border-bottom: 1px solid #0000001a;
}

tr > * {
  flex: 1;
  display: flex;
  align-items: center;
}

th,
td {
  border: 0 !important;
  justify-content: center;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.filter {
  ::ng-deep.mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

::ng-deep.mat-sort-header-container {
  margin-left: 20px;
}
